    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <h3>Regisztráció</h3>
        <hr>
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Név</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="mb-3">
                    <label for="usermail" class="form-label">E-mail cím</label>
                    <input type="email" class="form-control" name="usermail">
                </div>
                <div class="mb-3">
                    <label for="userpass1" class="form-label">Jelszó</label>
                    <input type="password" class="form-control" name="userpass1">
                </div>
                <div class="mb-3">
                    <label for="userpass2" class="form-label">Jelszó újra</label>
                    <input type="password" class="form-control" name="userpass2">
                </div>

                <button ng-click="registration()" class="btn btn-primary mb-3 kek">Regisztráció</button>
                <a href="#!/" class="btn btn-secondary mb-3 szurke">Vissza a Bejelentkezéshez</a>
            </form>
    </div>