<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-5" id="staticBackdropLabel">Hozzászólás írása</h>
        </div>
        <div class="modal-body">
          <h5>Írd ide a hozzászólásod:</h5>
          <div class="input-group">
            <span class="input-group-text"><img class="rounded-circle" src="{{loggedUser.filename}}" alt=""></span>
            <textarea class="form-control" ng-model="newComment.text"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary szurke" data-bs-dismiss="modal"> Bezár </button>
          <button type="button" class="btn btn-primary kek" ng-click="komment()" data-bs-dismiss="modal">Komment</button>
        </div>
      </div>
    </div>
  </div>