<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/assets/css/whocares.css">
    <link rel="stylesheet" href="/Public/assets/css/bootstrap.min.css">
    <title>WhoCares</title>
</head>
<body>
    
    <button ng-click="login()"> Belépés </button>
    <button ng-click="reg()"> Regisztráció </button>

    <div ng-include="'login.html'"> </div>  


  

    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/angular.min.js"></script>
    <script src="./assets/js/angular-route.min.js"></script>
    <script src="./assets/js/aos.js"></script>
    <script src="./assets/js/sha1.js"></script>
    <script src="./assets/js/moment.min.js"></script>
    <script src="./assets/js/whocares.js"></script>
    <script src="./assets/js/dbFactory.js"></script>
    <script src="./controllers/postsCtrl.js"></script>
    <script src="./controllers/userCtrl.js"></script>

</body>
</html>