body {
    background-color: #a2aebb;
    font-size: 125%;
}
header{
    background-color: #23b5d3;
}
main{
    margin-top: 1vh;
    margin-left: 10vw;
}
h3{
    font-weight: bolder;
    margin-top: 30%;
    letter-spacing: 3px;
}
.embik{
    margin-left: 7vw;
    margin-right: 3vw;
    margin-top: 1%;
}

em {
    color: red;
    font-weight: bold;
}
aside{
    float: right;
    width: 30%;
}

h2{
    text-align: center;
    font-style: italic;
    letter-spacing: 6px;
    font-weight: bold !important;
    margin-top: 1%;
}

.card{
    border: 2px solid #23b5d3;
    box-shadow: 5px 5px 10px #75abbc;
    margin-bottom: 1%;
    margin-top: 1%;
}
ul{
    border: 2px solid #23b5d3;
    box-shadow: 5px 5px 10px #75abbc;
}

.kek{
    background-color: #23b5d3 !important;
    border: 1px solid black !important;
}
.szurke{
    background-color: #34383b !important;
    border: 1px solid black !important;
}
.np{
    border: 2px solid #23b5d3;
    box-shadow: 5px 5px 10px #75abbc;
 
}
#newpost{
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}
.logged{
    font-weight: bolder;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 200%;
}
.komdat{
    font-size: 60%;
    font-style: italic;
    margin: 0%;
    padding: 0%;
}
.profkep{
    width: 40px;
    height: 40px;
}

.chatMap{
    height: 70vh;
    background-color: rgb(243, 243, 243);
    box-shadow: 2px 2px 20px gray;
}

#messageboxok{
    height: 60vh;
}
