body {
    background-color: #a2aebb;
    color: white;
}
header{
    background-color: #23b5d3;
}
main{
    margin-left: 10vw;
}
.embik{
    padding-left: 3vw;
    padding-right: 3vw;
}

em {
    color: red;
    font-weight: bold;
}
aside{
    float: right;
    width: 30%;
}

h2{
    text-align: center;
    font-style: italic;
    letter-spacing: 6px;
    font-weight: bold !important;
    margin-top: 2%;
}
